<div class="jumbotron">
  <div style="float: left; width: 30%; padding: 20px;">
    <img class="img-responsive img-square" src="https://i.pinimg.com/originals/6d/9d/52/6d9d52a9a887b2278cb2a3d68dfeccc0.jpg" />
  </div>
  <h1>Let's Rock.</h1>
  <p>Sushi. Whoever invented sushi? Here was a great person.
    <p/>
    <p>
      <a class="btn btn-danger btn-lg" href="/sushis" role="button">See classics</a>
      <a class="btn btn-danger btn-lg" href="/sushis/new" role="button">Create your own</a>
    </p>
</div>