<h1>Browse our Mountains of Sushi:</h1>
<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <% @sushis.map do |sushi| %>
        <li>
          <%= link_to sushi.name, sushi_path(sushi) %>
        </li>
      <% end %>
    </div>
    <div class="col-xs-6">
      <div class="background-div">
        <img class="img-responsive fixed-image img-circle" src="https://cdn.dribbble.com/users/644992/screenshots/1772842/twin_peaks.jpg"/>
      </div>
    </div>
  </div>
</div>
