<h2>
  Every day, once a day, give yourself a present.
</h2>

<p>
  Your fresh sushi and hot coffee have arrived! Please check to make sure it is to your specifications.</p>
<div class="wrapping">
  <img class="img-responsive" src="http://sweetclipart.com/multisite/sweetclipart/files/sushi_rolls_futomaki_ebi.png"/>
</div>

<h4 class="red-text">
  Name:
  <%=@sushi.name%>
</h4>
<h6><%= link_to "Edit", edit_sushi_path(@sushi) %>
  |
  <%= link_to "Delete", @sushi, method: :delete, data: { confirm: "Really?" } %></h6>
